name: Build Linux

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build CLI
        run: cargo build --release -p meika256-cli

      - name: Upload CLI
        uses: actions/upload-artifact@v4
        with:
          name: meika256-cli-linux
          path: target/release/meika256-cli
